:root {
    --primary-color:#6f6f6f;
    --secondary-color:#484029;
    --accent1-color: #e96512;
    --accent2-color: #00fd15;

    --heading-font: 'Halant', serif;
    --paragragh-font: 'Nunito sans', sans-serif;
}
body {
    font-family: var(--paragragh-font);
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
}
a {
    text-decoration: none
}
header, main, footer {
    grid-column-end: auto;
    max-width: 1000px;
    margin: 0 auto
}
.hero {
    position: relative;
}
.hero>img {
    width: 100%;
}
.hero h1 {
    position: absolute;
    top: 1em;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffffe5;
    color: var(--secondary-color);
    padding: 1rem;
    font-size: 3em;
}
.hero article {
    background-color: #ffffffe5;
    position: absolute;
    top: 15rem;
    left: 2rem;
    right: 2rem;
}
.hero article img {
    float: right;
    margin: 2rem;
    width: 13rem
}
.hero aritcle p {
    color: var(--secondary-color);
    font-size: 1.5rem;
    text-align: center;
    padding: 1rem;
    font-weight: 500;
}

footer {
    background-color: #3e3e3e;
    color: #fff;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    padding: 2rem;
}
.social {
    grid-column: 3;
    justify-self: end;
}
.social img {
    width: 3em;
}